@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>IdentityServer4</h1>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p class="lead">OpenID Connect FormPost Sample</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>Identity</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <dl>
                    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            </p>
        }
        else
        {
            <p>
                anonymous.
            </p>
        }
    </div>
</div>